<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>sh.wst.meta.service</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/realtong/.config/meta/meta</string>
        <string>-d</string>
        <string>/Users/realtong/.config/meta</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/realtong/.config/meta/</string>
    <key>KeepAlive</key>
    <false/>
</dict>
</plist>
